@import 'FiraSans/font.css';
@import 'views/user-login.css';
@import 'views/reminders.css';
@import 'views/microphone.css';

/** General styles **/
html {
  height: 100%;

  font: 400 10px/10px Arial;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;

  background: #fff;
  background: linear-gradient(#fff, hsla(178, 87%, 35%, 1)) fixed;
}

body,
input,
button,
select {
  font: 300 1.1rem/2.2rem 'Fira Sans', Arial;
}

h1,
h2 {
  margin: 0;
  font-weight: 300;
}

h1 {
  width: 100%;
  font-size: 3.2rem;
}

h2 {
  padding: 1rem 3rem 0;
  font-size: 2.6rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  margin: 0;

  border: 1px solid #808080;
  border-radius: 0.3rem;
  background: #fff;
}

button {
  margin: 0;

  border: 1px solid #808080;
  border-radius: 0.3rem;

  background: #fff;
}

/* App specific styles */
.app-view-container {
  height: 100%;
}

/* Small devices (landscape phones, 34em and up) */
@media (min-width: 34em) {
  html {
    font: 400 11px/11px Arial;
  }
}

/* Medium devices (tablets, 48em and up) */
@media (min-width: 48em) {
  html {
    font: 400 12px/12px Arial;
  }
}

/* Large devices (desktops, 62em and up) */
@media (min-width: 62em) {
  html {
    font: 400 13px/13px Arial;
  }
}

/* Extra large devices (large desktops, 75em and up) */
@media (min-width: 75em) {
  html {
    font: 400 14px/14px Arial;
  }
}
