.microphone {
  position: fixed;
  z-index: 1;
  top: 3rem;
  right: 3rem;
  width: 8rem;
  height: 8rem;

  border-radius: 100%;
  background: #fff;
}

.microphone__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: cubic-bezier(0.5, -0.5, 0.5, 1.5) 300ms;
  transform: scale(0);
  border-radius: 100%;
  background: #0ca8a4;
}

.listening .microphone__background {
  transform: scale(1.618033989); /* Golden ratio! */
}

.microphone__icon {
  position: absolute;
  top: 20%;
  right: 20%;
  bottom: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  transition: 300ms;
}

.listening .microphone__icon {
  -webkit-filter: brightness(20);
  filter: brightness(20);
}

/* Small devices (landscape phones, 34em and up) */
@media (min-width: 34em) {
  .microphone {
    top: 3rem;
    right: 3rem;
    width: 9rem;
    height: 9rem;
  }
}

/* Medium devices (tablets, 48em and up) */
@media (min-width: 48em) {
  .microphone {
    top: 5rem;
    right: 6rem;
    width: 10rem;
    height: 10rem;
  }
}

/* Large devices (desktops, 62em and up) */
@media (min-width: 62em) {
  .microphone {
    top: 8rem;
    right: 6rem;
    width: 11rem;
    height: 11rem;
  }
}

/* Extra large devices (large desktops, 75em and up) */
@media (min-width: 75em) {
  .microphone {
    top: 8rem;
    right: 6rem;
    width: 12rem;
    height: 12rem;
  }
}
