.microphone {
  position: absolute;
  z-index: 1;
  top: 8rem;
  right: 9rem;
  width: 6rem;
  height: 6rem;
}

.microphone__background {
  position: absolute;
  width: 6rem;
  height: 6rem;
  transition: cubic-bezier(0.5, -0.5, 0.5, 1.5) 300ms;
  transform: scale(0);
  border-radius: 100%;
  background: #0ca8a4;
}

.listening .microphone__background {
  transform: scale(1.618033989); /* Golden ratio! */
}

.microphone__icon {
  position: absolute;
  width: 6rem;
  height: 6rem;
  transition: 300ms;
}

.listening .microphone__icon {
  -webkit-filter: brightness(20);
  filter: brightness(20);
}
